/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .matrix {
    text-align: center;
  }

}

.tasks {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task .task__input,
.task .task__title {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__container {
  display: flex;
}

.list {
  margin: 0;
  padding: 0px;
}

.task,
.title {
  list-style: none;
}

.input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */

.title,
.new-task__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

/* New Task */

.new-task__title {
  display: block;
  margin: 0 0 20px;
}

.new-task .task__input {
  width: 318px;
}

.new-task .button:hover {
  color: #0fc57c;
}

/* Task list */

.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
}

.button_delete:hover {
  color: #cf2323;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */

.complete__list .task__title {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task .task__input {
  display: none;
}

.edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.edit-mode .task__title {
  display: none;
}
